body {
    background: white url("images/background.jpg")
}

.navbar {
    border-radius: 0;}

.navbar-brand {
    font-family: Satisfy, cursive;
}
img {
    width: 250px;
    height: 250px;}

#fav {
    width: 15px;
    height: 15px;
}
.alb-det {
    text-align: center;
   background-color: #ffffff;
    margin: 5px;
    border-radius: 25px;
    padding: 10px;}