@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


a {
	color: #333333;
}

a.abort {
	margin-left:10px;
}

a:hover {
	color: #098398;
	text-decoration: none;
}

a.addpost {
	margin-top:10px;
	margin-right: 10px;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: #ffffff;
}



.post {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid;
	border-bottom-width: 2px;
/*	margin-top: 20px;
	margin-bottom: 20px;
	border-top: solid;
	border-radius: 25px;
*/
	text-align: justify;
}

a.edit {
	margin-right: 10px;
	margin-left: 10px;
}

section.image {

	background-image: url("../images/tlo.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}

.caption {

	text-align:center;
	margin-top: 30px;
}

.caption h1 {
	font-family: 'Open Sans', sans-serif;
	/* background: rgba(255,255,255,0.7); */
	color: white;
	font-weight:800;
	font-size: 65px;
	
}

.image > .container-fluid > .row  {
	text-align: right;
}
form {

	text-align: center;

}

textarea {
	width: 700px;
}

input {
	width: 700px;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

a.git {
	color: white;

}

a.git:hover{
	color: #6e5494;
}

.git_frame {
	padding-top: 10px;
	padding-right: 10px;
}