{% extends 'simplegram/base.html' %}

{% block body %}


    {% if object_list %}
    <div class="container">
        <div class="row">
            {% for photo in object_list %}
            <div class="col-sm-offset-4 col-sm-4 photo-frame">
                <img class="photo" src="{{ photo.photo_pic.url }}"/>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h3>Unfortunately You don't have any albums or just your database is empty yet. </h3>
    {% endif %}




{% endblock %}