<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'simplegram/style.css'%}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<!-- menu -->
<div id="custom-bootstrap-menu" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'simplegram:index' %}"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> | HelloPhoto</a>
            </div>
     <!-- items for navbar-->
            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'simplegram:index' %}">
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;Photos
                        </a>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                            <a href="#">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add photo
                            </a>
                    </li>
                    <li class="">
                            <a href="#">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;Logout
                            </a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
<!-- menuend -->


    {% if object_list %}
    <div class="container">
        <div class="row">
            {% for photo in object_list %}
            <div class="col-sm-offset-4 col-sm-4 photo-frame">
                <img class="photo" src="{{ photo.photo_pic.url }}"/>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <h3>Unfortunately You don't have any albums or just your database is empty yet. </h3>
    {% endif %}

</body>
</html>