<!--HEADER-->

<!doctype HTML>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Blog</title>

		{% load static %}

		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	</head>
	<body>



		 <section class="image">
		 		<div class="container-fluid">
					<div class="row">
						{% if user.is_authenticated %}

						<a class="btn btn-default addpost" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span>  dodaj post</a>

						{% else %}

						<a class="btn btn-default addpost" href="../admin"><span class="glyphicon glyphicon-user"></span>  zaloguj się</a>


						{% endif %}
						<div class="col-xs-12 caption">
							<a href="/blog/"><h1>nice to meet you</h1></a>
							<br />
						</div>
					</div>
				</div>
		 </section>

	<!--HEADEREND-->

	<!--POST SECTION -->
		<div class="container">
			<div class="row">
				
			{% block content %}
			{% endblock content %}


			</div>
		</div>
	<!-- ENDPOST SECTION-->

	<!-- FOOTER -->


	</body>

